egg-analytic.hpp
filters.hpp
*.aux
*.fls
*.log
*.pdf
*.synctex.gz
*.fdb_latexmk
filter-db
psf-averager-binning
psf-averager-bpz
psf-averager-bpz_prev
psf-averager-eazy
psf-averager-eazy-fb
psf-averager-eazy_prev
psf-averager-egg
psf-averager-stars
bpz
eazy
